//https://zmk-physical-layout-converter.streamlit.app/?layout=H4sIAAAAAAACA6vmUlBQykmszC8tKVayUqgGcoECPo6R_qEhcD5cCVAkGiqioFCtoFQBFDDSM9BRUKqEsBRqddDlTeDyxnpmRlgVWFjAVRiDmBlApqGeKV7DjAjIY9dvQEC_MVzeQM8IvwUGWA0wQnKAAV55A6zyxkihZWyBV4ERdhcaEHChISEvGiJ5wQh_IBkSMoGgG8HRBJWOBdMgXi1XLQDmYm46mQIAAA%3D%3D

#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  400  362       0     0     0>
            , <&key_physical_attrs 100 150  488  338       0     0     0>
            , <&key_physical_attrs 100 100  400  250       0     0     0>
            , <&key_physical_attrs 100 100  400  150       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  300   25       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300  338       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   25       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100  100  225       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            ;
    };
};

